@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    user-select: none;
}
.background-container {
    height: 1400px;
    width: 100%;
    background-image: url('https://cloudfront-us-east-1.images.arcpublishing.com/infobae/FZSKJQPSBVEHTH6GIXKZUVPP44.jpg');
    background-image: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.shadow {
    position: absolute;
    width: 100%;
    height: 1400px;
    background-color: black;
    opacity: 0.7;
}
.container {
    position: absolute;
    width: 100%;
    height: 1400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.title {
    position: absolute;
    top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 150px;
    font-size: 40px;
    color: white;
}
.title h1 {
    font-family: "Dancing Script", cursive;
}
.list-container {
    position: relative;
    top: 40px;
    width: 700px;
    height: auto;
    padding: 10px;
    border-radius: 5px;
    background-color: rgba(14, 14, 14, 0.678);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.list {
    width: 95%;
    padding: 5px;
}
.list-places {
    position: relative;
    width: 5%;
    display: flex;
    flex-direction: column;
    padding: 5px;
}
.place {
    position: relative;
    color: white;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 400;
}
.song {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 65px;
    border-radius: 5px;
    position: relative;
    color: white;
    transition: all 0.1s ease-in-out;
    cursor: move;
}
.song:hover, .send-button:hover, .share-button:hover {
    background-color: rgba(67, 67, 67, 0.609);
}
.song-pic {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    width: auto;
}
.song-pic img {
    position: relative;
    width: 55px;
}
.song-info {
    position: relative;
    margin-left: 5px;
    width: 80%;
    display: flex;
    flex-direction: column;
}
.song-name {
    position: relative;
    top: 10px;
    font-size: 17px;
    font-weight: 600;
    height: 50%;
}
.extra-info {
    position: relative;
    top: 3px;
    height: 50%;
    display: flex;
    flex-direction: row;
}
.explicit {
    position: relative;
    top: 1px;
    width: 17px;
    height: 17px;
    font-size: 11px;
    font-weight:600;
    border-radius: 2px;
    margin-right: 5px;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(56, 56, 56);
}
.artist-name {
    position: relative;
    top: 0.5px;
    font-size: 15px;
    font-weight: 600;
    color: gray;
}
.song.selected-song {
    transform: scale(1.02);
}
.song.while-drag {
    opacity: 0;
}
.send-button {
    position: absolute;
    bottom: -60px;
    left: 0;
    width: 7%;
    height: 50px;
    background-color: red;
    margin-top: 10px;
    border-radius: 5px;
    background-color: rgb(14, 14, 14);
    border: none;
    cursor: pointer;
    font-size: 30px;
    color:white;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
}
.send-button p {
    position: absolute;
}
.send-options {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    opacity: 0;
    transition: all 0.2s ease-in-out;
}
.share-button {
    position: relative;
    padding: 13px;
    margin-left: 5px;
    height: 50px;   
    border-radius: 5px;
    background-color: rgb(14, 14, 14);
    border: none;
    cursor: pointer;
    color:white;
    display: flex;
    flex-direction: row;
}
.share-button span, .share-button p {
    position: relative;
    font-size: 20px;
    width: 100px;
    margin-left: 5px;
}
.send-button:hover > .send-options {
    opacity: 1;
    transform: translateX(100%);
}